<%- layout("layouts/boilerplate") %>

    <style>
        .dash-title {
            width: 78vw;
        }

        .dash-card {
            width: 16rem;
            height: 8rem;
        }

        .activities-box {
            width: 37vw;
        }

        .actions-box {
            width: 38vw;

        }


        .action-card {
            width: 15rem;
            border-radius: 0.5rem;
        }
    </style>

    <body>
        <div class="admin-dash">
            <div class="dash-title bg-primary text-white ms-3 rounded-3">
                <h1 class="ms-3 pt-3 text-white">Welcome back, Admin!</h1>
                <p class="ms-4 pb-4">Here's what's happening in your socity today.</p>
            </div>

            <div class="dash-info d-flex gap-5 ms-3">
                <div class="dash-card d-flex gap-5 rounded-3 bg-white">
                    <div class="left ms-4 mt-4">
                        <p class="mt-1">Total Residents</p>
                        <h3 class="fw-bold">
                            <%= totalResidents.total_flat %>
                        </h3>
                    </div>
                    <div class="right mt-5 pb-2">
                        <i class="bi bi-people text-white bg-primary p-2 rounded-circle fs-3"></i>
                    </div>

                </div>

                <div class="dash-card d-flex gap-5 rounded-3 bg-white">
                    <div class="left ms-4 mt-4">
                        <p>Pending Payments</p>
                        <h3 class="fw-bold">&#8377;45000</h3>
                    </div>
                    <div class="right mt-5 pb-2">
                        <i class="bi bi-credit-card-2-front-fill text-white bg-success p-2 rounded-circle fs-4"></i>
                    </div>

                </div>

                <div class="dash-card d-flex gap-5 rounded-3 bg-white">
                    <div class="left ms-4 mt-4">
                        <p>Active Complaints</p>
                        <h3 class="fw-bold">
                            <%= totalComplains %>
                        </h3>
                    </div>
                    <div class="right mt-5 pb-2">
                        <i class="bi bi-exclamation-circle-fill text-white bg-danger p-2 rounded-circle fs-4"></i>
                    </div>

                </div>

                <div class="dash-card d-flex gap-5 rounded-3 bg-white">
                    <div class="left ms-4 mt-4">
                        <p>Parking Slots</p>
                        <h3 class="fw-bold">
                            <%= totalParkingTaken %>/<%= totalResidents.total_four_wheeler_slot %>
                        </h3>
                    </div>
                    <div class="right mt-5 pb-2">
                        <i class="bi bi-car-front-fill text-white p-2 rounded-circle fs-4"
                            style="background-color: #a855f7;"></i>
                    </div>
                </div>
            </div>

            <div class="active-action-boxes d-flex gap-3">
                <div class="activities-box border  mt-4 rounded-3 ms-3 bg-white">
                    <div class="activity-title">
                        <h5 class="my-4 ms-4 fw-bold">Recent Activities</h5>
                        <hr>
                        <ul class="ms-3 fs-5">
                            <li>John Doe paid maintenance bill</li>
                            <li>New complaint submitted by Jane Smith</li>
                            <li>John Doe paid maintenance bill</li>
                            <li>John Doe paid maintenance bill</li>
                        </ul>
                    </div>
                </div>

                <div class="actions-box border ms-4 mt-4 rounded-3 bg-white">
                    <div class="actions-title">
                        <h5 class="my-4 ms-4 fw-bold">Quick Actions</h5>
                        <hr>
                        <div class="action-boxes">

                            <div class="upper d-flex ms-4 my-3 gap-4">

                                <a href="/addNewResident" class="text-decoration-none">
                                    <div
                                        class="action-card border d-flex flex-column justify-content-center align-items-center p-4">
                                        <i class="bi bi-people fs-2 text-primary"></i>
                                        <p class="fw-semibold">Add Resident</p>
                                    </div>
                                </a>


                                <a href="" class="text-decoration-none">
                                    <div
                                    class="action-card border d-flex flex-column justify-content-center align-items-center p-4">
                                    <i class="bi bi-credit-card-2-front fs-2 text-primary"></i>
                                    <p class="fw-semibold">Record Payment</p>
                                </div>
                                </a>
                            </div>

                            <div class="lower d-flex ms-4 my-3 gap-4">

                                <a href="" class="text-decoration-none">
                                    
                                <div
                                    class="action-card border d-flex flex-column justify-content-center align-items-center p-4">
                                    <i class="bi bi-calendar-event fs-2 text-primary"></i>
                                    <p class="fw-semibold">Schedule Event</p>
                                </div>
                                </a>

                                <a href="/complaints" class="text-decoration-none">
                                    
                                <div
                                    class="action-card border d-flex flex-column justify-content-center align-items-center p-4">
                                    <i class="bi bi-exclamation-circle fs-2 text-primary"></i>
                                    <p class="fw-semibold">View Complaints</p>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>