<%- layout("layouts/boilerplate") %>


  <body>
    <div class="container mt-5">
      <h2 class="mb-4">Add New Member</h2>
      <form method="post" action="/resident/profile/<%= profileInfo._id %>/edit">

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="ownerFirstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="ownerFirstName" name="first_name" value="<%= profileInfo.first_name %>" required>
          </div>
          <div class="col-md-6">
            <label for="ownerLastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="ownerLastName" name="last_name" value="<%= profileInfo.last_name %>" required>
          </div>
        </div>





        <div class="row mb-3">
          <div class="col-md-6">
            <label for="mobileNumber" class="form-label">Mobile Number</label>
            <input type="tel" class="form-control" id="mobileNumber" name="mobile_number" value="<%= profileInfo.mobile_number %>" required>
          </div>
          <div class="col-md-6">
            <label for="numberOfMembers" class="form-label">Number of Members</label>
            <input type="number" class="form-control" id="numberOfMembers" name="number_of_member" value="<%= profileInfo.number_of_member %>" required>
          </div>
        </div>

        <div class="row mb-3">
           <div class="col-md-6">
            <label for="mobileNumber" class="form-label">Emergency Mobile Number</label>
            <input type="tel" class="form-control" id="mobileNumber" name="emergency_number" value="<%= profileInfo.emergency_number %>" required>
          </div>
          <div class="col-md-6">
            <label for="mobileNumber" class="form-label">Birth Date</label>
            <input type="date" class="form-control" id="mobileNumber" name="birth_date" value="<%= profileInfo.birth_date %>" required>
          </div>
        </div>


        <div class="row mb-3">
  <% if (profileInfo.four_wheeler && profileInfo.four_wheeler.trim() !== "") { %>
    <div class="col-md-6">
      <label for="fourWheeler" class="form-label">Four Wheeler</label>
      <input type="text" class="form-control" id="fourWheeler" name="four_wheeler" value="<%= profileInfo.four_wheeler %>" required>
    </div>
  <% } %>

  <% if (profileInfo.two_wheeler && profileInfo.two_wheeler.trim() !== "") { %>
    <div class="col-md-6">
      <label for="twoWheeler" class="form-label">Two Wheeler</label>
      <input type="text" class="form-control" id="twoWheeler" name="two_wheeler" value="<%= profileInfo.two_wheeler %>" required>
    </div>
  <% } %>
</div>



        

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= profileInfo.email %>" required>
          </div>
        </div>

        <button type="submit" class="btn btn-success fw-bold fs-5">Submit Form</button>
      </form>
    </div>
  </body>